#mynavdiv {
    margin-top: auto;
}

#logo {
    background-image: url('images/logo.svg');
    background-repeat: no-repeat;
    min-height: 200px;
}

.cent {
    margin: auto;
}

::placeholder {
    font-weight: bold;
}