#mynavdiv {
    margin-top: auto;
}

#logo {
    background-image: url('images/logo.svg');
    background-repeat: no-repeat;
    min-height: 200px;
}

.cent {
    margin: auto;
}

::placeholder {
    font-weight: bold;
}

.bookCovers{
    width: 45%;
    height: auto;
}
.bookText{
    font: 10px;
}

.invert {
    filter: invert(1);
}

.invert .box, .invert input, .invert img,
.invert hr, .invert a :not(.navbar-start),
.invert .inv, .invert select, .invert textarea {
    filter: invert(1);
}