#mynavdiv {
    margin-top: auto;
}

#logo {
    background-image: url('images/logo.svg');
    background-repeat: no-repeat;
    min-height: 200px;
}

.side {margin-top: 11rem;}

.side-home {margin-top: 5rem;}

html, body {height: 100%;}
body {
    display: flex;
    flex-direction: column;
}
.all-content {
    flex: 1 0 auto;
    background-color: white;
}
footer {flex-shrink: 0;}

.cent {
    margin: auto;
}

::placeholder {
    font-weight: bold;
}

.bookCovers{
    width: 45%;
    height: auto;
}
.bookText{
    font: 10px;
}

.invert {
    filter: invert(1);
}

.invert .box, .invert input, .invert hr,
.invert a :not(.navbar-start), .invert .inv,
.invert select, .invert textarea {
    filter: invert(1);
}

.popup{
    display: none;
    position: fixed;
}

.popupSurvey{
    background-color: white;
    border: 1px solid black
}

.stickyBook{
    z-index: 2;
}
